/* ------------------ RESET -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Righteous', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --purple: #6042D8;
    --purple-text: #400880;
}

body {
    overflow-x: hidden;   
    font-family: 'Righteous', cursive;
}

h1 {
    letter-spacing: 3px;
}

/* ----------------------------------------------- */

/* --------------- CONTAINER GRID ---------------- */
.container {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "section"
                         "footer"
    ;
}

/* ----------------------------------------------- */

/* ------------------- HEADER -------------------- */
header {
    grid-area: header;

    background: transparent;
    padding: 50px 100px;

    height: 20vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 100;
}

header img.logo_type {
    width: 150px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    color: white;
    background: transparent;
    border-radius: 50px;
    transition: .3s;
}

header nav ul li a.active {
    background: white;
    color: #001b38;
    cursor: default;
}

header nav ul li a:hover {
    background: white;
    color: #001b38;
}

#btn-mobile1, 
#btn-mobile2, 
#btn-mobile3, 
#btn-mobile4, 
#btn-mobile5, 
#btn-mobile6 {
    display: none;
}

/* ----------------------------------------------- */

/* -------------------- MAIN --------------------- */
main {
    grid-area: main;

    height: 100vh;
    width: 100%;

    position: relative;
    z-index: 0;
}

main.home {
    background-image: url(../img/background_home.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -100px;
    background-position-x: -250px;
}

main.home img {
    width: 100%;
    height: auto;
    
    position: absolute;
    bottom: 0;
}

main.home .content {
    width: 50%;
    
    position: absolute;
    top: 35vh;
    left: 100px;
    z-index: 1;
}

main .title {
    color: white;
    font-size: 3.5em;
    text-transform: uppercase;
}

main .paragraph {
    color: white;
    font-size: 2em;
}

main.quiz {
    background-image: url(../img/background_quiz.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: -100px;
}

main.quiz .content {
    width: 30%;
    text-align: right;
    
    position: absolute;
    top: 35vh;
    right: 100px;
    z-index: 1;
}

main.quiz img.astronaut {
    width: auto;
    position: absolute;
    top: 5vh;
    left: 16vw;
    filter: drop-shadow(-100px 140px 10px rgba(0, 0, 0, 0.5));

    transform: translateY(0);
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: rotate(0) translateY(0);
    }

    50% {
        transform: rotate(-20deg) translateY(-20px);
    }

    100% {
        transform: rotate(0) translateY(0);
    }
}

main.quiz img.vetor {
    width: 50px;
    cursor: pointer;

    position: absolute;
    bottom: 50px;
    left: 48%;

    transition: .3s;
}

main.quiz img.vetor:hover {
    transform: translateY(10px);
}

main.quiz img.dec {
    position: absolute;
    width: 100%;
    bottom: 0;
}



main.sobre {
    background-image: url(../img/background_sobre.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

main.sobre img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

main.sobre .content{
    text-align: center;
}



main.midia {
    background-image: url(../img/backgorund_midia.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

main.midia img {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
}

main.midia .content .title {
    text-shadow: -1px 1px 0 gray, -2px 2px 0 rgb(109, 109, 109), -3px 3px 0 rgb(108, 108, 108), -4px 4px 0 rgb(107, 107, 107), -5px 5px 0 rgb(106, 106, 106), -7px 7px 5px rgba(0, 0, 0, .5);
}

main.midia .content {
    width: 40%;
    text-align: center;
}

.videovr {
    width: 1000px;
    height: 500px;
}

/* ---------------------------------------------------------- */

/* ------------------------ SECTION ------------------------- */
section {
    grid-area: section;

    background: white;  

    height: auto;
    width: 100%;

    position: relative;
    z-index: 0;
}

section.home .content:nth-child(1) {
    padding: 50px 150px;
}


section.home .paragraph {
    color: var(--purple-text);
    font-size: 1.4em;
    text-align: justify;
}

section.home .content:nth-child(2) {
    padding: 0 150px 100px 150px;
}

section.home .card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

section.home .card_container a {
    text-decoration: none;
}

section.home .card {
    background: linear-gradient(180deg, #1a1438 0%, #381095 100%);
    
    width: 300px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;

    position: relative;
}

section.home .card:hover {
    transform: translateY(-20px);
    box-shadow: 0 20px 10px rgba(0, 0, 0, .5);
}

section.home .card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 33.33%;
}

section.home .card div:nth-child(1) {
    margin: 30px 30px;
} 

section.home .card img {
    max-height: 200px;
}

section.home .card div:nth-child(2) {
    margin: 30px 50px;
}

section.home .card h1 {
    color: white;
    font-size: 2em;
}

section.home .card p {
    color: white;
    font-size: 1em;
    text-align: center;
}

section.home .card div:nth-child(3) {
    background-color: #6248AE;
    width: 100%;

    border-radius: 0 0 10px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.home .card div:nth-child(3) p {
    letter-spacing: 1px;
}


section.home .content:nth-child(3) {
    background-color: #470898;

    width: 100%;
    height: 80vh;
    padding: 50px 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

section.home .content:nth-child(3) div {
    width: 50%;
}

section.home .content:nth-child(3) div p {
    color: white;
    font-size: 2em;
}



section.sobre .content {
    padding: 50px 30px;
}

section.sobre .paragraph {
    color: var(--purple-text);
    font-size: 1.1em;
    text-align: justify;
}

section.sobre .paragraph span {
    color: #1e0055;
}

section.sobre .grid-content {
    padding: 50px 30px;
}


section.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

section.quiz div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

section.quiz div div.content , section.quiz div form  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} 

section .content {
    padding: 50px 150px;
}




section.sobre .grid-content {
    padding: 100px 200px;
    border-radius: 10px;

    display: grid;
    
    row-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    

    grid-template-areas: "i1 t1 t1"
                         "t2 t2 i2"
                         "i3 t3 t3"
                         "t4 t4 i4"
                         "i5 t5 t5"
                         "t6 t6 i6"
                         "i7 t7 t7" 
                         "t8 t8 i8";
}

section.sobre .grid-content img {
    width: 100%;
    height: 100%;
}

section.sobre .grid-content div {
    background-color: #6042D8;
    height: 50vh;
}

section.sobre .i1 {
    grid-area: i1;
    border-radius: 10px 0 0 10px;
}

section.sobre .t1 {
    grid-area: t1;
    border-radius: 0 10px 10px 0;
}



section.sobre .i2 {
    grid-area: i2;
    border-radius: 0 10px 10px 0;
}

section.sobre .t2 {
    grid-area: t2;
    border-radius: 10px 0 0 10px;
}



section.sobre .i3 {
    grid-area: i3;
    border-radius: 10px 0 0 10px;
}

section.sobre .t3 {
    grid-area: t3;
    border-radius: 0 10px 10px 0;
}



section.sobre .i4 {
    grid-area: i4;
    border-radius: 0 10px 10px 0;
}

section.sobre .t4 {
    grid-area: t4;
    border-radius: 10px 0 0 10px;
}



section.sobre .i5 {
    grid-area: i5;
    border-radius: 10px 0 0 10px;
}

section.sobre .t5 {
    grid-area: t5;
    border-radius: 0 10px 10px 0;
}



section.sobre .i6 {
    grid-area: i6;
    border-radius: 0 10px 10px 0;
}

section.sobre .t6 {
    grid-area: t6;
    border-radius: 10px 0 0 10px;
}



section.sobre .i7 {
    grid-area: i7;
    border-radius: 10px 0 0 10px;
}

section.sobre .t7 {
    grid-area: t7;
    border-radius: 0 10px 10px 0;
}



section.sobre .i8 {
    grid-area: i8;
    border-radius: 0 10px 10px 0;
}

section.sobre .t8 {
    grid-area: t8;
    border-radius: 10px 0 0 10px;
}

section.sobre .grid-content .content {
    padding: 20px 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.sobre .grid-content .content p {
    color: white;
    font-size: 1.1em;
    text-align: justify;
}



section.midia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.midia .content {
    padding: 100px 0;
}

/* ----------------------------------------------------------- */

/* ------------------------- FOOTER -------------------------- */
footer {
    grid-area: footer;

    background: white;

    height: auto;
    width: 100%;

    position: relative;
    z-index: 0;
}

footer .foot_container {
    padding: 50px 50px 0 50px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    gap: 50px;
}

footer .foot_container .content {
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer .foot_container.light .content h1 {
    color: #6042D8;
}

footer .foot_container.light .content p {
    font-size: 1.3em;
} 

footer .foot_container.light .content ul li {
    list-style: none;
}

footer .foot_container.light .content ul li a {
    color: black;
    font-size: 1.3em;

    text-decoration: none;
    transition: .3s;
}

footer .foot_container.light .content ul li a:hover {
    color: #6042D8;
}

footer .copy {
    background-color: #6042D8;
    width: 100%;
    height: 8vh;   

    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copy p, .copy a {
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;

    text-decoration: none;
    transition: .3s;
}

footer .copy a:hover {
    color: #1e0055;
} 




footer .foot_container.dark {
    background-color: #470898;
}

footer .foot_container.dark img {
    filter: invert(1);
}

footer .foot_container.dark .content h1 {
    color: #bdadff;
}

footer .foot_container.dark .content p {
    color: white;
    font-size: 1.3em;
} 

footer .foot_container.dark .content ul li {
    list-style: none;
}

footer .foot_container.dark .content ul li a {
    color: white;
    font-size: 1.3em;

    text-decoration: none;
    transition: .3s;
}

footer .foot_container.dark .content ul li a:hover {
    color: #8e74f5;
}

footer .copy {
    background-color: #10012e;
    width: 100%;
    height: 8vh;   

    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copy p, .copy a {
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;

    text-decoration: none;
    transition: .3s;
}

footer .copy a:hover {
    color: #8e74f5;
} 


/* ----------------------------------------------------------- */

/* ------------------------- QUIZ ------------------------- */
.caixa {
    background-image: url(../img/banner-quiz.jpg);
    background-color: white;
    width: 100%;
    padding: 20px 50px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #400880;
    border-radius: 7px;
    margin: 100px auto;
    color: white;
}

.opcao {
    background-color: white;
    margin-top: 12px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: white;
    width: 200px;
    padding: 10px;
    text-align: left;
    transform: all 0.5s;
    transition: .3s;
    cursor: pointer;
}

.opcao:hover {
    border-color: #001b38;
    background-color: white;
    transform: scale(1.1);
}

.botao {
    font-size: large;
    margin-left: 0;
    
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-style: none;
    background-color: #400880;
    color: white;
    padding: 10px;
}

.opcao-certa {
    background-color: green;
    color: white;
}

.opcao-errada {
    border-color: red;
    color: red;
}

input:checked {
    color: yellow;
}

#bpro, #bpro2, #bpro3, #bpro4, #bpro5, #bpro6, #bpro7, #bpro8, #bpro9, #bpro10, #bpro11, #bpro12, #bpro13, #bpro14, #bpro15, #bpro16, #bpro17, #bpro18, #bpro19, #bpro20 {
    display: none;
}

#pergunta2, #pergunta3, #pergunta4, #pergunta5, #pergunta6, #pergunta7, #pergunta8, #pergunta9, #pergunta10, #pergunta11, #pergunta12, #pergunta13, #pergunta14, #pergunta15, #pergunta16, #pergunta17, #pergunta18, #pergunta19, #pergunta20, #final {
    display: none;
}

#msgcell {
    display: none;
}

.somepc {
    display: none;
}

.somecell {
    display: block;
}

/*Celular*/



@media screen and (max-width: 768px) {
    .back_responsive {
        width: 100vw;
    }

    #btn-mobile1, 
    #btn-mobile2, 
    #btn-mobile3, 
    #btn-mobile4, 
    #btn-mobile5, 
    #btn-mobile6 {
        display: block;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: white;
    }

    #btn-mobile1:hover, 
    #btn-mobile2:hover, 
    #btn-mobile3:hover, 
    #btn-mobile4:hover, 
    #btn-mobile5:hover, 
    #btn-mobile6:hover {
        color: #6042D8;
    }

    #hamburguer1, 
    #hamburguer2, 
    #hamburguer3, 
    #hamburguer4, 
    #hamburguer5, 
    #hamburguer6 {
        display: block;
        width: 20px;
        border-top: 2px solid;
    }

    #hamburguer1::after, #hamburguer1::before,
    #hamburguer2::after, #hamburguer2::before,
    #hamburguer3::after, #hamburguer3::before,
    #hamburguer4::after, #hamburguer4::before,
    #hamburguer5::after, #hamburguer5::before,
    #hamburguer6::after, #hamburguer6::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .5s;
        position: relative;
    }

    #nav1.on #hamburguer1,
    #nav2.on #hamburguer2,
    #nav3.on #hamburguer3,
    #nav4.on #hamburguer4,
    #nav5.on #hamburguer5,
    #nav6.on #hamburguer6 {
        border: none;
    }

    #nav1.on #hamburguer1::after,
    #nav2.on #hamburguer2::after,
    #nav3.on #hamburguer3::after,
    #nav4.on #hamburguer4::after,
    #nav5.on #hamburguer5::after,
    #nav6.on #hamburguer6::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #nav1.on #hamburguer1::before,
    #nav2.on #hamburguer2::before,
    #nav3.on #hamburguer3::before,
    #nav4.on #hamburguer4::before,
    #nav5.on #hamburguer5::before,
    #nav6.on #hamburguer6::before {
        transform: rotate(135deg);
    }

    #menu1,
    #menu2,
    #menu3,
    #menu4,
    #menu5, 
    #menu6 { 
        background-color: #470898;
        width: 100%;
        height: 0;
        padding: 50px;

        visibility: hidden;
        overflow-y: hidden;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        position: absolute;
        top: 10vh;
        left: 0;
        z-index: 1000;

        transition: .6s;
        overflow-x: hidden;
    }

    #nav1.on #menu1,
    #nav2.on #menu2,
    #nav3.on #menu3,
    #nav4.on #menu4,
    #nav5.on #menu5,
    #nav6.on #menu6 {
        visibility: visible;
        height: 70vh;
    }

    header {
        background-color: #470898;
        padding: 50px 20px;
    
        height: 10vh;
    }
    
    header img.logo_type {
        width: 150px;
    }

    header nav ul li a {
        border-radius: 0;
        padding: 20px 200px;
    }

    header nav ul li a.active {
        background: rgba(0, 0, 0, .2);
        color: white;
    }

    header nav ul li a:hover {
        background: rgba(0, 0, 0, .2);
        color: white;
    }

    #pergunta1 {
        display: none;
    }

    #msgcell {
        display: block;
        padding: 30px;
    }

    .caixamsg {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    main {
        height: 70vh;
    }
    
    main .title {
        color: white;
        font-size: 2.8em;
        text-transform: uppercase;
    }
    
    main .paragraph {
        color: white;
        font-size: 1.5em;
    }

    main.home .content {
        width: 95%;
        top: 35vh;
        left: 20px;
    }    

    main.quiz img.astronaut {
        width: 70%;
        top: 15vh;
    }

    main.quiz .content {
        width: 80%;
        text-align: center;
        margin: auto;
        top: 45vh;
        left: 10%;
    }

    main.quiz img.vetor {
        display: none;
    }

    main.midia .content {
        width: 95%;
    }
    
    .videovr {
        width: 80vw;
        height: 200px;
    }
    

    
    section.home .content:nth-child(1) {
        padding: 50px 30px;
    }
    
    section.home .paragraph {
        font-size: 1.1em;
        text-align: justify;
    }
    
    section.home .content:nth-child(3) {
        height: 70vh;
        padding: 50px 30px;

        flex-direction: column;
        gap: 50px;
    }
    
    section.home .content:nth-child(3) div {
        width: 100%;
        text-align: center;
    }

    section.home .content:nth-child(3) img {
        height: 100%;
    }
    
    section.home .content:nth-child(3) div p {
        font-size: 1.1em;
        text-align: justify;
    }

    .textoquiz {
        left: 120px;
        text-align: center;
    }

    section.sobre .grid-content {
        padding: 20px;
        
        row-gap: 0;
        grid-template-columns: 1fr;
    
        grid-template-areas: "i1"
                             "t1"
                             "i2"
                             "t2"
                             "i3"
                             "t3"
                             "i4"
                             "t4"
                             "i5"
                             "t5"
                             "i6"
                             "t6"
                             "i7"
                             "t7"
                             "i8"
                             "t8";
    }

    section.sobre .i1, section.sobre .i2, section.sobre .i3, section.sobre .i4, section.sobre .i5, section.sobre .i6, .i7, section.sobre .i8 {
        border-radius: 10px 10px 0 0;
    }

    section.sobre .t1, section.sobre .t2, section.sobre .t3, section.sobre .t4, section.sobre .t5, section.sobre .t6, .t7, section.sobre .t8 {
        border-radius: 0 0 10px 10px;
        margin-bottom: 100px;
    }

    section.sobre .grid-content .content {
        padding: 20px;
    }

    section.sobre .grid-content div {
        height: 42vh;
    }

    section.midia .content {
        padding: 50px 0;
    }

    section.midia {
        gap: 0;
    }



    footer .foot_container {
        padding: 30px;
    
        flex-direction: column;
        align-items: center;
    
        gap: 30px;
    }
    
    footer .foot_container .content {
        width: 100%;
    }      
}

@media screen and (max-width: 1200px) {
    @media screen and (max-height: 1024px) {
        
        section.sobre .grid-content {
            padding: 100px 150px;

            grid-template-columns: 1fr 1fr;
            
        
            grid-template-areas: "i1 t1"
                                 "t2 i2"
                                 "i3 t3"
                                 "t4 i4"
                                 "i5 t5"
                                 "t6 i6"
                                 "i7 t7" 
                                 "t8 i8";
        }
        
        section.sobre .grid-content div {
            height: 45vh;
        }
    }
}